<section class="banner catalogue__banner">
  <picture class="banner__picture">
    <source srcset="/img/catalog/banner-catalog-1920.jpg" media="(min-width: 1200px)">
    <img class="banner__img" src="/img/catalog/banner-catalog-1920.jpg" alt="Коллекция изысканных кремед Оксфоррд-1950">
  </picture>

  <div class="container banner__container">
    <h2 class="banner__title">
      <span class="brown">Оксфорд 1950</span>
      Новая коллекция изысканных кресел
    </h2>
    <a class="card-link" href="../catalogue.html">
      В каталог
      <svg class="svg-arrow">
        <use xlink:href="../img/sprite.svg#mini-arrow">
        </use>
      </svg>
    </a>
  </div>
</section>
