<footer class="footer">

  <div class="footer__total total">
    <div class="container total__container">
      <a class="logo footer__logo" href="index.html">
        <img src="../img/svg/logo.svg" alt="Логотип компании SitDownPls">
      </a>

      <ul class="list-reset socials">
        <li class="socials__elem">
          <a class="socials__link" href="#" aria-label="наша страничка в одноклассниках" target="_blank">
            <svg>
              <use xlink:href="../img/sprite.svg#ok">
              </use>
            </svg>
          </a>
        </li>
        <li class="socials__elem">
          <a class="socials__link" href="#" aria-label="наша страничка вконтакте" target="_blank">
            <svg>
              <use xlink:href="../img/sprite.svg#vk">
              </use>
            </svg>
          </a>
        </li>
      </ul>

      <nav class="nav footer__nav">
        <ul class="list-reset menu">
          <li class="link  menu__title">
            О нас
            <ul class="list-reset submenu">
              <li>
                <a class="link submenu__link" href="#">О компании</a>
              </li>
              <li>
                <a class="link submenu__link" href="#">Блог</a>
              </li>
            </ul>
          </li>

          <li class="link  menu__title">
            Услуги
            <ul class="list-reset submenu">
              <li>
                <a class="link submenu__link" href="#">Доставка</a>
              </li>
              <li>
                <a class="link submenu__link" href="#">Рассрочка и кредит</a>
              </li>
              <li>
                <a class="link submenu__link" href="#">Сборка и установка</a>
              </li>
            </ul>
          </li>

          <li class="link  menu__title">
            Связь с нами
            <ul class="list-reset submenu">
              <li>
                <a class="link submenu__link" href="#">Обратная связь</a>
              </li>
              <li>
                <a class="link submenu__link" href="#">Контакты</a>
              </li>
            </ul>
          </li>

          <li class="link  menu__title">
            Сотрудничество
            <ul class="list-reset submenu">
              <li>
                <a class="link submenu__link" href="../cooperations.html#provider">Поставщикам</a>
              </li>
              <li>
                <a class="link submenu__link" href="#">Оптовикам</a>
              </li>
              <li>
                <a class="link submenu__link" href="#">Карьера</a>
              </li>
            </ul>
          </li>

        </ul>
      </nav>
    </div>
  </div>

  <div class="footer__copyright copyright">
    <span class="link">SDP®</span>
    <span class="link">2011-2021</span>
  </div>
</footer>
