<header class="header">
  <div class="header__top top">
    <div class="top__container container">

      <a class="tel" href="tel:+74958854547">
        <svg>
          <use xlink:href="../img/sprite.svg#phone">
          </use>
        </svg>
        +7 (495) 885-45-47
      </a>

      <nav class="nav top__nav" aria-label="Дополнительное меню">
        <ul class="list-reset nav-list top__nav-list">
          <li class="nav-list__item">
            <a class="link top__link" href="#">
              О компании
            </a>
          </li>
          <li class="nav-list__item">
            <a class="link top__link" href="../cooperations.html#guarantee">
              Гарантия и возврат
            </a>
          </li>
          <li class="nav-list__item">
            <a class="link top__link" href="#">
              Корпоративным клиентам
            </a>
          </li>
          <li class="nav-list__item">
            <a class="link top__link" href="#">
              Дизайн-решение
            </a>
          </li>
        </ul>
      </nav>

    </div>
  </div>

  <div class="header__bottom bottom">
    <div class="bottom__container container">
      <a class="logo header__logo" href="index.html">
        <img src="../img/svg/logo.svg" alt="Логотип компании SitDownPls">
      </a>

      <nav class="nav bottom__nav" aria-label="Основное меню">
        <ul class="list-reset nav-list bottom__nav-list">
          <li class="nav-list__item">
            <a class="link link--black" href="../catalogue.html">
              Каталог
            </a>
          </li>
          <li class="nav-list__item">
            <a class="link link--black" href="#">
              Магазины
            </a>
          </li>
          <li class="nav-list__item">
            <a class="link link--black" href="#">
              Шоу-рум
            </a>
          </li>
          <li class="nav-list__item">
            <a class="link link--black" href="#">
              Доставка и оплата
            </a>
          </li>
          <li class="nav-list__item">
            <a class="link link--black" href="#">
              Дисконт
            </a>
          </li>
          <li class="nav-list__item">
            <a class="link link--black" href="#">
              Контакты
            </a>
          </li>
        </ul>
      </nav>

      <div class="bottom__wrap">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="../img/sprite.svg#search">
          </use>
        </svg>
        <input class="input-reset header__search search" id="search" type="search" name="search" placeholder="Я хочу купить...">
        <button class="arrow" aria-label="Поиск по сайту">
          <svg class="svg-arrow">
            <use xlink:href="../img/sprite.svg#mini-arrow">
            </use>
          </svg>
        </button>
      </div>

      <div class="header__wrap">
        <button class="btn-reset entrance entrance--cabinet" aria-label="Войти в личный кабинет">
          <svg>
            <use xlink:href="../img/sprite.svg#user">
            </use>
          </svg>
        </button>

        <button class="btn-reset entrance entrance--basket" aria-label="Корзинат товаров">
          <svg>
            <use xlink:href="../img/sprite.svg#basket">
            </use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
