<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>SitDownPls</title>
<link href="fonts/OpenSansBold.woff2" rel="preload" as="font" type="font/woff2" crossorigin>
<link href="fonts/OpenSansSemiBold.woff2" rel="preload" as="font" type="font/woff2" crossorigin>
<link href="fonts/OpenSansRegular.woff2" rel="preload" as="font" type="font/woff2" crossorigin>
<link href="fonts/PlayfairDisplayBlack.woff2" rel="preload" as="font" type="font/woff2" crossorigin>
<link href="css/vendor.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<script src="js/main.js" defer></script>
