<section class="similars container">
  <h2 class="title title--middle similars__title">
    Похожие товары
  </h2>

  <ul class="list-reset height-list">
    <li class="height-list__elem">
      <article class="height-list__card card height-list__card--1">
        <span class="level" aria-label="Рейтинг товара">4,5</span>

        <picture class="card__picture">
          <source srcset="/img/card/sofa-r85-1920.png" media="(min-width: 576px)">
          <source srcset="/img/card/sofa-r85-320.png" media="(min-width: 320px)">
          <img class="card__img" src="/img/card/sofa-r85-1920.png" alt="Диван велюровый R-85">
        </picture>

        <div class="wrap card__wrap">
          <h4 class="card__title">
            Диван велюровый &#8216;&#8216;R-85&#8217;&#8217;
          </h4>
          <span class="price card__price">
            34 990 руб
          </span>
          <button class="btn-reset btn btn--transp">
            Купить
          </button>
        </div>
      </article>
    </li>

    <li class="height-list__elem">
      <article class="height-list__card card height-list__card--2">
        <span class="level" aria-label="Рейтинг товара">4,6</span>

        <picture class="card__picture">
          <source srcset="/img/card/sofa-h58-1920.png" media="(min-width: 576px)">
          <source srcset="/img/card/sofa-h58-320.png" media="(min-width: 320px)">
          <img class="card__img" src="/img/start-page/height/sofa-h58-1920.png" alt=" Диван флоковый H-58 ”">
        </picture>

        <div class="wrap card__wrap">
          <h4 class="card__title">
            Диван флоковый &#8216;&#8216;H-58&#8217;&#8217;
          </h4>
          <span class="price card__price">
            23 990 руб
          </span>
          <button class="btn-reset btn btn--transp">
            Купить
          </button>
        </div>
      </article>
    </li>

    <li class="height-list__elem">
      <article class="height-list__card card height-list__card--3">
        <span class="level" aria-label="Рейтинг товара">4,5</span>

        <picture class="card__picture">
          <source srcset="/img/card/sofa-s44-1920.png" media="(min-width: 772px)">
          <img class="card__img" src="/img/card/sofa-s44-1920.png" alt="Диван велюровый S-44">
        </picture>

        <div class="wrap card__wrap">
          <h4 class="card__title">
            Диван велюровый &#8216;&#8216;S-44&#8217;&#8217;
          </h4>
          <span class="price card__price">
            19 990 руб
          </span>
          <button class="btn-reset btn btn--transp">
            Купить
          </button>
        </div>
      </article>
    </li>

    <li class="height-list__elem">
      <article class="height-list__card card height-list__card--4">
        <span class="level" aria-label="Рейтинг товара">4,8</span>

        <picture class="card__picture">
          <source srcset="/img/start-page/height/sofa-v43-1920.png" media="(min-width: 420px)">
          <img class="card__img" src="/img/start-page/height/sofa-v43-1920.png" alt="Диван шиниловый “V-43”">
        </picture>

        <div class="wrap card__wrap">
          <h4 class="card__title">
            Диван шиниловый &#8216;&#8216;V-43&#8217;&#8217;
          </h4>
          <span class="price card__price">
            19 990 руб
          </span>
          <button class="btn-reset btn btn--transp">
            Купить
          </button>
        </div>
      </article>
    </li>
  </ul>
</section>
