<section class="upper-part container">
  <picture class="upper-part__picture">
    <source srcset="/img/card/sofa-d31-1920.png" media="(min-width: 1200px)">
    <source srcset="/img/card/sofa-d31-1024.png" media="(min-width: 1024px)">
    <source srcset="/img/card/sofa-d31-768.png" media="(min-width: 420px)">
    <source srcset="/img/card/sofa-d31-320.png" media="(min-width: 320px)">
    <img class="upper-part__img" src="/img/card/sofa-d31-1920.png" alt="Диван тканевый прямой D-31">
  </picture>

  <div class="upper-part__wrapper wrapper" id="sofa-d31">
    <span class="level wrapper__level" aria-label="Рейтинг товара">4,8</span>
    <h1 class="title title--middle upper-part__title">
      Диван тканевый прямой &#8216;&#8216;D-31&#8217;&#8217;
    </h1>
    <p class="link link--start wrapper__descr">Мини 120 см без ящика Stark синий (Рогожка)</p>
    <span class="wrapper__price">28 490 руб</span>
    <button class="btn-reset btn btn--purple wrapper__btn">Купить в один клик</button>
    <button class="btn-reset wrapper__add">+ Добавить в корзину</button>
  </div>
</section>
