*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  height: 100%;
  font-family: $font-family;
  -webkit-text-size-adjust: 100%;
  color: $black;
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
}

.main {
  padding-top: 16px;

  @include grid-sets(1);

  row-gap: 70px;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}


button,
input,
fieldset {
  border: none;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  font: inherit;
  font-family: "OpenSans", sans-serif;
  color: inherit;
  background-color: transparent;
}



button:active,
button:hover,
button:focus,
button:focus-visible {
  outline: none;
  cursor: pointer;
}

a:active,
a:focus,
a:hover,
a:focus-visible {
  outline: none;
  cursor: pointer;
}

input:active,
input:focus,
input:hover,
input:focus-visible {
  outline: none;
  outline: 1px solid var(--color-medium);
  cursor: pointer;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.site-container {
  overflow: hidden;
}

.container {
  column-gap: 32px;
  align-items: center;
  margin: 0 auto;
  padding: 0 $container-offset;
  max-width: $container-width;

  @include grid-sets(12);
}
