$content-width: 1280px;
$container-offset: 30px;
$container-width: calc($content-width + ($container-offset * 2));
$font-family: "OpenSans", sans-serif;
$pad-left: 30px;
$orange: #FF862F;
$orange-hell: #FFBD59;
$orange-hell-background: #FFF5D1;
$orange-dark: #BB370E;
$purple: #A65CF0;
$purple-dark: #7033AC;
$purple-hell: #C998FB;
$purple-pink: #EBD1FF;
$purple-background: #F8EFFF;
$grey-hell: #999;
$grey-dark: #666;
$grey-hell-background: #F6F6F6;
$grey-dark-background: #EAEAEA;
$black: #333;
$brown: #D5B986;
$green: #B8EC64;
$white: #fff;
