<section class="banner">
  <picture class="banner__picture">
    <source srcset="/img/start-page/banner/banner-1920.jpg" media="(min-width: 1200px)">
    <source srcset="/img/start-page/banner/banner-1024.jpg" media="(min-width: 992px)">
    <source srcset="/img/start-page/banner/banner-768.jpg" media="(min-width: 576px)">
    <source srcset="/img/start-page/banner/banner-320.jpg" media="(min-width: 320px)">
    <img class="banner__img" src="/img/start-page/banner/banner-1920.jpg" alt="Коллекция изысканных кремед Оксфоррд-1950">
  </picture>

  <div class="container banner__container">
    <h2 class="banner__title">
      <span class="brown">Оксфорд 1950</span>
      Новая коллекция изысканных кресел
    </h2>
    <button class="btn-reset btn btn--purple banner__btn">
      Ознакомиться
    </button>
  </div>
</section>
