<section class="connect">
  <div class="container connect__container">
    <h3 class="title connect__title">
      Мы всегда вам рады!
    </h3>

    <p class="link connect__descr">
      Безусловно, новая модель организационной деятельности в значительной степени обусловливает важность распределения
      внутренних резервов и ресурсов.
    </p>

    <form class="form" aria-label="Форма для заказа обратного звонка" action="POST" method="post">
      <input class="input-reset search form__search " id="name" type="text" name="name" placeholder="Как вас зовут?">
      <input class="input-reset search form__search " id="phone" type="tel" name="phone" placeholder="Ваш телефон">
      <input class="input-reset search form__search " id="email" type="email" name="email" placeholder="Ваш e-mail">
      <button class="btn-reset btn btn--purple" type="submit">Отправить</button>

      <div class="custom-checkbox">
        <input class="input-reset custom-checkbox__field" id="agree" type="checkbox" name="agree">
        <label class="custom-checkbox__content link" for="agree">
          Принимаю
          <a class="custom-checkbox custom-checkbox--purple" href="#">пользовательское соглашение</a>
        </label>
      </div>
    </form>
  </div>
</section>
