<section class="height">
  <div class="container height__container">
    <h3 class="title height__title">
      Высокий рейтинг
    </h3>

    <ul class="list-reset height-list">
      <li class="height-list__elem">
        <article class="height-list__card card height-list__card--1">
          <span class="level" aria-label="Рейтинг товара">5,0</span>

          <picture class="card__picture">
            <source srcset="/img/start-page/height/sofa-r94-1920.png" media="(min-width: 420px)">
            <source srcset="/img/start-page/height/sofa-r94-320.png" media="(min-width: 320px)">
            <img class="card__img" src="/img/start-page/height/sofa-r94-1920.png" alt="Диван кожаный “R-94”">
          </picture>

          <div class="wrap card__wrap">
            <h4 class="card__title">
              Диван кожаный&nbsp; &#8216;&#8216;R-94&#8217;&#8217;
            </h4>
            <span class="price card__price">
              94 990 руб
            </span>
            <button class="btn-reset btn btn--transp">
              Купить
            </button>
          </div>
        </article>
      </li>

      <li class="height-list__elem">
        <article class="height-list__card card height-list__card--2">
          <span class="level" aria-label="Рейтинг товара">4,9</span>

          <picture class="card__picture">
            <source srcset="/img/start-page/height/sofa-t75-1920.png" media="(min-width: 420px)">
            <source srcset="/img/start-page/height/sofa-t75-320.png" media="(min-width: 320px)">
            <img class="card__img" src="/img/start-page/height/sofa-t75-1920.png" alt="Диван апартековый “T-75”">
          </picture>

          <div class="wrap card__wrap">
            <h4 class="card__title">
              Диван&nbsp; апартековый &#8216;&#8216;T-75&#8217;&#8217;
            </h4>
            <span class="price card__price">
              69 990 руб
            </span>
            <button class="btn-reset btn btn--transp">
              Купить
            </button>
          </div>
        </article>
      </li>

      <li class="height-list__elem">
        <article class="height-list__card card height-list__card--3">
          <span class="level" aria-label="Рейтинг товара">4,8</span>

          <a class="height-list__link" href="../card.html" tabindex="0">
            <picture class="card__picture">
              <source srcset="/img/start-page/height/sofa-d31-1920.png" media="(min-width: 420px)">
              <source srcset="/img/start-page/height/sofa-d31-320.png" media="(min-width: 320px)">
              <img class="card__img" src="/img/start-page/height/sofa-d31-1920.png" alt="Диван тканевый “D-31”">
            </picture>
          </a>

          <div class="wrap card__wrap">
            <h4 class="card__title">
              Диван тканевый &#8216;&#8216;D-31&#8217;&#8217;
            </h4>
            <span class="price card__price">
              28 490 руб
            </span>
            <button class="btn-reset btn btn--transp">
              Купить
            </button>
          </div>
        </article>
      </li>

      <li class="height-list__elem">
        <article class="height-list__card card height-list__card--4">
          <span class="level" aria-label="Рейтинг товара">4,8</span>

          <picture class="card__picture">
            <source srcset="/img/start-page/height/sofa-y68-1920.png" media="(min-width: 420px)">
            <source srcset="/img/start-page/height/sofa-y68-320.png" media="(min-width: 320px)">
            <img class="card__img" src="/img/start-page/height/sofa-y68-1920.png" alt="Диван велюровый “Y-68”">
          </picture>

          <div class="wrap card__wrap">
            <h4 class="card__title">
              Диван велюровый &#8216;&#8216;Y-68&#8217;&#8217;
            </h4>
            <span class="price card__price">
              22 990 руб
            </span>
            <button class="btn-reset btn btn--transp">
              Купить
            </button>
          </div>
        </article>
      </li>

      <li class="height-list__elem">
        <article class="height-list__card card height-list__card--5">
          <span class="level" aria-label="Рейтинг товара">4,8</span>

          <picture class="card__picture">
            <source srcset="/img/start-page/height/sofa-w95-1920.png" media="(min-width: 420px)">
            <source srcset="/img/start-page/height/sofa-w95-320.png" media="(min-width: 320px)">
            <img class="card__img" src="/img/start-page/height/sofa-w95-1920.png" alt="Диван из шинила “W-95”">
          </picture>

          <div class="wrap card__wrap">
            <h4 class="card__title">
              Диван из шинила &#8216;&#8216;W-95&#8217;&#8217;
            </h4>
            <span class="price card__price">
              22 990 руб
            </span>
            <button class="btn-reset btn btn--transp">
              Купить
            </button>
          </div>
        </article>
      </li>

      <li class="height-list__elem">
        <article class="height-list__card card height-list__card--6">
          <span class="level" aria-label="Рейтинг товара">4,8</span>

          <picture class="card__picture">
            <source srcset="/img/start-page/height/sofa-g41-1920.png" media="(min-width: 420px)">
            <source srcset="/img/start-page/height/sofa-g41-320.png" media="(min-width: 320px)">
            <img class="card__img" src="/img/start-page/height/sofa-g41-1920.png" alt="Диван флоковый “G-41”">
          </picture>

          <div class="wrap card__wrap">
            <h4 class="card__title">
              Диван флоковый &#8216;&#8216;G-41&#8217;&#8217;
            </h4>
            <span class="price card__price">
              17 990 руб
            </span>
            <button class="btn-reset btn btn--transp">
              Купить
            </button>
          </div>
        </article>
      </li>

      <li class="height-list__elem">
        <article class="height-list__card card height-list__card--7">
          <span class="level" aria-label="Рейтинг товара">4,8</span>

          <picture class="card__picture">
            <source srcset="/img/start-page/height/sofa-v43-1920.png" media="(min-width: 420px)">
            <img class="card__img" src="/img/start-page/height/sofa-v43-1920.png" alt="Диван шиниловый “V-43”">
          </picture>

          <div class="wrap card__wrap">
            <h4 class="card__title">
              Диван шиниловый &#8216;&#8216;V-43&#8217;&#8217;
            </h4>
            <span class="price card__price">
              19 990 руб
            </span>
            <button class="btn-reset btn btn--transp">
              Купить
            </button>
          </div>
        </article>
      </li>

      <li class="height-list__elem">
        <article class="height-list__card card height-list__card--8">
          <span class="level" aria-label="Рейтинг товара">4,7</span>

          <picture class="card__picture">
            <source srcset="/img/start-page/height/sofa-s99-1920.png" media="(min-width: 420px)">
            <img class="card__img" src="/img/start-page/height/sofa-s99-1920.png" alt="Диван велюровый “S-99”">
          </picture>

          <div class="wrap card__wrap">
            <h4 class="card__title">
              Диван велюровый &#8216;&#8216;S-99&#8217;&#8217;
            </h4>
            <span class="price card__price">
              19 990 руб
            </span>
            <button class="btn-reset btn btn--transp">
              Купить
            </button>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
