<section class="specials">
  <div class="container specials__container">
    <h3 class="title specials__title">
      Специальные предложения
    </h3>

    <ul class="list-reset spec-list">
      <li class="spec-list__elem">
        <article class="spec-list__card card card--1">

          <picture class="card__picture">
            <source srcset="/img/start-page/species/chair-1920.png" media="(min-width: 1200px)">
            <img class="card__img" src="/img/start-page/species/chair-1920.png" alt="Кресло велюровое “X-24”">
          </picture>

          <h4 class="card__title">
            Кресло велюровое &#8216;&#8216;X-24&#8217;&#8217;
          </h4>
          <span class="new-price" aria-label="Новая цена">
            15 990 руб
            <s class="price" aria-label="Старая цена">
              24 990 руб
            </s>
          </span>
          <button class="btn-reset btn btn--transp">
            Купить
          </button>
        </article>
      </li>

      <li class="spec-list__elem">
        <article class="spec-list__card card card--2">

          <picture class="card__picture">
            <source srcset="/img/start-page/species/sofa-44-1920.png" media="(min-width: 1200px)">
            <source srcset="/img/start-page/species/sofa-44-1024.png" media="(min-width: 1024px)">
            <img class="card__img" src="/img/start-page/species/sofa-44-1920.png" alt="Диван тканевый “Z-44”">
          </picture>

          <h4 class="card__title">
            Диван тканевый &#8216;&#8216;Z-44&#8217;&#8217;
          </h4>
          <span class="new-price" aria-label="Новая цена">
            22 990 руб
            <s class="price" aria-label="Старая цена">
              32 990 руб
            </s>
          </span>
          <button class="btn-reset btn btn--transp">
            Купить
          </button>
          <img class="card__draft" src="/img/start-page/species/draft-main.png" alt="Схема дивана ">
        </article>
      </li>

      <li class="spec-list__elem">
        <article class="spec-list__card card card--3">

          <picture class="card__picture">
            <source srcset="/img/start-page/species/clock-1920.png" media="(min-width: 1200px)">
            <img class="card__img" src="/img/start-page/species/clock-1920.png" alt="Будильник  “Quartz-23”">
          </picture>

          <h4 class="card__title">
            Будильник&nbsp; &#8216;&#8216;Quartz-23&#8217;&#8217;
          </h4>
          <span class="new-price" aria-label="Новая цена">
            1 290 руб
            <s class="price" aria-label="Старая цена">
              1 890 руб
            </s>
          </span>
          <button class="btn-reset btn btn--transp">
            Купить
          </button>
        </article>
      </li>

      <li class="spec-list__elem">
        <article class="spec-list__card card card--4">

          <picture class="card__picture">
            <source srcset="/img/start-page/species/dear-320.png" media="(min-width: 320px)">
            <img class="card__img" src="/img/start-page/species/dear-320.png" alt="Мини-скульптура оленя">
          </picture>

          <h4 class="card__title">
            Мини-скульптура &#8216;&#8216;Oh my deer&#8217;&#8217;
          </h4>
          <span class="new-price" aria-label="Новая цена">
            690 руб
            <s class="price" aria-label="Старая цена">
              990 руб
            </s>
          </span>
          <button class="btn-reset btn btn--transp">
            Купить
          </button>
        </article>
      </li>

      <li class="spec-list__elem">
        <article class="spec-list__card card card--5">

          <picture class="card__picture">
            <source srcset="/img/start-page/species/sofa-z85-320.png" media="(min-width: 320px)">
            <img class="card__img" src="/img/start-page/species/sofa-z85-320.png" alt="Диван вел-флок “Z-85”">
          </picture>

          <h4 class="card__title">
            Диван вел-флок&nbsp; &#8216;&#8216;Z-85&#8217;&#8217;
          </h4>
          <span class="new-price" aria-label="Новая цена">
            22 990 руб
            <s class="price" aria-label="Старая цена">
              32 990 руб
            </s>
          </span>
          <button class="btn-reset btn btn--transp">
            Купить
          </button>
        </article>
      </li>

      <li class="spec-list__elem">
        <article class="spec-list__card card card--6">

          <picture class="card__picture">
            <source srcset="/img/start-page/species/termometr-320.png" media="(min-width: 320px)">
            <img class="card__img" src="/img/start-page/species/termometr-320.png" alt="Термометр + гидрометр “H-18”">
          </picture>

          <h4 class="card__title">
            Термометр + гидрометр &#8216;&#8216;H-18&#8217;&#8217;
          </h4>
          <span class="new-price" aria-label="Новая цена">
            1 390 руб
            <s class="price" aria-label="Старая цена">
              2 090 руб
            </s>
          </span>
          <button class="btn-reset btn btn--transp">
            Купить
          </button>
        </article>
      </li>
    </ul>
  </div>
</section>
