<section class="tops">
  <div class="container tops__container">
    <h3 class="title tops__title">
      Топ категории
    </h3>

    <ul class="list-reset tops-list">
      <li class="tops-list__item">
        <article class="tops-list__card card">

          <ul class="list-reset categories" aria-label="Подкатегории">
            <li class="categories__item">
              <a class="link categories__link" href="#">Прямые</a>
            </li>
            <li class="categories__item">
              <a class="link categories__link" href="#">Угловые</a>
            </li>
            <li class="categories__item">
              <a class="link categories__link" href="#">Модульные</a>
            </li>
          </ul>

          <h4 class="card__title tops-list__title">
            Диваны
            <a class="mini-link" href="#">
              <svg class="svg-arrow">
                <use xlink:href="../img/sprite.svg#mini-arrow">
                </use>
              </svg>
            </a>
          </h4>

          <picture>
            <source srcset="/img/start-page/top/sofas-1920.png" media="(min-width: 668px)">
            <source srcset="/img/start-page/top/sofas-320.png" media="(min-width: 320px)">
            <img class="card__img" src="/img/start-page/top/sofas-1920.png" alt="Диван белый">
          </picture>

          <a class="card-link" href="../catalogue.html">
            В каталог
            <svg class="svg-arrow">
              <use xlink:href="../img/sprite.svg#mini-arrow">
              </use>
            </svg>
          </a>
        </article>
      </li>

      <li class="tops-list__item">
        <article class="tops-list__card card">

          <ul class="list-reset categories" aria-label="Подкатегории">
            <li class="categories__item link">
              <a class="link categories__link" href="#">Мягкие</a>
            </li>
            <li class="categories__item link">
              <a class="link categories__link" href="#"> Кресла-кровати</a>
            </li>
          </ul>

          <h4 class="card__title tops-list__title">
            Кресла
            <a class="mini-link" href="#">
              <svg class="svg-arrow">
                <use xlink:href="../img/sprite.svg#mini-arrow">
                </use>
              </svg>
            </a>
          </h4>

          <picture>
            <source srcset="/img/start-page/top/armchairs-1920.png" media="(min-width: 1260px)">
            <source srcset="/img/start-page/top/armchairs-1024.png" media="(min-width: 668px)">
            <source srcset="/img/start-page/top/armchairs-320.png" media="(min-width: 320px)">
            <img class="card__img" src="/img/start-page/top/armchairs-1920.png" alt="Кресла">
          </picture>

          <a class="card-link" href="../catalogue.html">
            В каталог
            <svg class="svg-arrow">
              <use xlink:href="../img/sprite.svg#mini-arrow">
              </use>
            </svg>
          </a>
        </article>
      </li>

      <li class="tops-list__item">
        <article class="tops-list__card card">

          <ul class="list-reset categories" aria-label="Подкатегории">
            <li class="categories__item link">
              <a class="link categories__link" href="#">Односпальные</a>
            </li>
            <li class="categories__item link">
              <a class="link categories__link" href="#">Двуспальные</a>
            </li>
          </ul>

          <h4 class="card__title tops-list__title">
            Кровати
            <a class="mini-link" href="#">
              <svg class="svg-arrow">
                <use xlink:href="../img/sprite.svg#mini-arrow">
                </use>
              </svg>
            </a>
          </h4>

          <picture>
            <source srcset="/img/start-page/top/beds-1920.png" media="(min-width: 1260px)">
            <source srcset="/img/start-page/top/beds-1024.png" media="(min-width: 668px)">
            <source srcset="/img/start-page/top/beds-320.png" media="(min-width: 320px)">
            <img class="card__img" src="/img/start-page/top/beds-1920.png" alt="Кровати">
          </picture>

          <a class="card-link" href="../catalogue.html">
            В каталог
            <svg class="svg-arrow">
              <use xlink:href="../img/sprite.svg#mini-arrow">
              </use>
            </svg>
          </a>
        </article>
      </li>

      <li class="tops-list__item">
        <article class="tops-list__card card">

          <ul class="list-reset categories" aria-label="Подкатегории">
            <li class="categories__item link">
              <a class="link categories__link" href="#">Тумбы</a>
            </li>
            <li class="categories__item link">
              <a class="link categories__link" href="#">Комоды</a>
            </li>
          </ul>

          <h4 class="card__title tops-list__title">
            Тумбы и комоды
            <a class="mini-link" href="#">
              <svg class="svg-arrow">
                <use xlink:href="../img/sprite.svg#mini-arrow">
                </use>
              </svg>
            </a>
          </h4>

          <picture>
            <source srcset="/img/start-page/top/lockers-1920.png" media="(min-width: 1260px)">
            <source srcset="/img/start-page/top/lockers-1024.png" media="(min-width: 668px)">
            <source srcset="/img/start-page/top/lockers-320.png" media="(min-width: 320px)">
            <img class="card__img" src="/img/start-page/top/lockers-1920.png" alt="Комод">
          </picture>

          <a class="card-link" href="../catalogue.html">
            В каталог
            <svg class="svg-arrow">
              <use xlink:href="../img/sprite.svg#mini-arrow">
              </use>
            </svg>
          </a>
        </article>
      </li>

      <li class="tops-list__item">
        <article class="tops-list__card card">

          <ul class="list-reset categories" aria-label="Подкатегории">
            <li class="categories__item link">
              <a class="link categories__link" href="#">Деревянные</a>
            </li>
            <li class="categories__item link">
              <a class="link categories__link" href="#">Металлокаркас</a>
            </li>
          </ul>

          <h4 class="card__title tops-list__title">
            Стулья
            <a class="mini-link" href="#">
              <svg class="svg-arrow">
                <use xlink:href="../img/sprite.svg#mini-arrow">
                </use>
              </svg>
            </a>
          </h4>

          <picture>
            <source srcset="/img/start-page/top/chairs-1920.png" media="(min-width: 1260px)">
            <source srcset="/img/start-page/top/chairs-1024.png" media="(min-width: 668px)">
            <source srcset="/img/start-page/top/chairs-320.png" media="(min-width: 320px)">
            <img class="card__img" src="/img/start-page/top/chairs-1920.png" alt="Стулья">
          </picture>

          <a class="card-link" href="../catalogue.html">
            В каталог
            <svg class="svg-arrow">
              <use xlink:href="../img/sprite.svg#mini-arrow">
              </use>
            </svg>
          </a>
        </article>
      </li>
    </ul>
  </div>
</section>
