<section class="useful">
  <div class="container useful__container">
    <h3 class="title useful__title">
      Полезное
    </h3>

    <ul class="list-reset useful-list">
      <li class="useful-list__item">
        <article class="useful-list__article useful-list__article--1 card">
          <h4 class="visually-hidden" aria-hidden="true">Статья по теме</h4>
          <p class="card__title useful-list__descr">
            И нет сомнений, что сделанные на базе интернет-аналитики выводы представляют собой не что иное?
          </p>
          <a class="btn btn--transp" href="#" target="_blank">
            Читать
          </a>
        </article>
      </li>

      <li class="useful-list__item">
        <article class="useful-list__article useful-list__article--2 card">
          <h4 class="visually-hidden" aria-hidden="true">Статья по теме</h4>
          <p class="card__title useful-list__descr">
            Как принято считать, некоторые особенности приносят несомненную пользу обществу?
          </p>
          <a class="btn btn--transp" href="#" target="_blank">
            Читать
          </a>
        </article>
      </li>

      <li class="useful-list__item">
        <article class="useful-list__article useful-list__article--3 card">
          <h4 class="visually-hidden" aria-hidden="true">Статья по теме</h4>
          <p class="card__title useful-list__descr">
            Ясность нашей позиции очевидна: укрепление и развитие внутренней структуры?
          </p>
          <a class="btn btn--transp" href="#" target="_blank">
            Читать
          </a>
        </article>
      </li>

      <li class="useful-list__item">
        <article class="useful-list__article useful-list__article--4 card">
          <h4 class="visually-hidden" aria-hidden="true">Статья по теме</h4>
          <p class="card__title useful-list__descr">
            Прежде всего, консультация с широким активом однозначно фиксирует необходимость распределения?
          </p>
          <a class="btn btn--transp" href="#" target="_blank">
            Читать
          </a>
        </article>
      </li>

      <li class="useful-list__item">
        <article class="useful-list__article useful-list__article--5 card">
          <h4 class="visually-hidden" aria-hidden="true">Статья по теме</h4>
          <p class="card__title useful-list__descr">
            Как принято считать, некоторые особенности приносят несомненную пользу обществу?
          </p>
          <a class="btn btn--transp" href="#" target="_blank">
            Читать
          </a>
        </article>
      </li>
    </ul>
  </div>
</section>
